<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <form action="/janken">
        <input type="text" name="hand" required>
        <label for="hand">何を出す？</label>
        <input type="submit" values="じゃんけん　ポン">
        <input type="hidden" name="win" value="0">
        <input type="hidden" name="total" value="0">
    </form>
</body>
</html>
<!-- 捕獲結果を表示（ボールを投げた後） -->
<% if (judgement) { %>
    <p><%= judgement %></p> <!-- 捕獲判定結果を表示 -->
<% } %>